* {
    margin: 0;
    padding: 0;
}


.container {
    margin-top: 100px;
}

.contact-form {
    list-style-type: none;
}

.contact-form li div {
    margin-bottom: 2.5em;
}
strong, b {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 85%;
    margin: 0;
    padding-bottom: 1.4em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 3px solid slategrey;
    
    font-family: 'Roboto', sans-serif;
    
    font-weight: 700;
    font-size: 18px;
    transition: ease-in-out 0.25s;
}

.contact-form textarea {
    min-height: 200px;
    max-height: 600px;
    white-space: pre-wrap;
    word-wrap: break-word;
    resize: vertical;
    overflow: hidden;
}

.contact-form ::-webkit-input-placeholder {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-form label {
    font-size: 12px;
    color: slategrey;
    text-transform: uppercase;
    font-weight: 400;
}

.contact-form input:focus,
.contact-form select:focus,
.contact-form textarea:focus,
.contact-form button:focus {
    outline: none;
    resize: none;
    border-bottom: 3px solid #eea2ff;
}

.contact-form button {
    color: lightgrey;
    background: rgba(34, 34, 34, 0.0);
    border: 3px solid #000;
    height: 74px;
    width: 200px;
    float: right;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: ease-in-out 0.25s;
}

.contact-form button span {
    transition: ease-in-out 0.25s;
}

.contact-form button:hover {
    background: #bc74a2;
    color: lightgrey;
}

.contact-form button:hover span {
    padding-left: 10px;
    color: #eea2ff;
}